In [1]:
from utils import get_eval_result_from_txt_file, extract_sql_from_json_predictions, convert_text_to_list, result_compare, analysis_compare

# 完整流程展示

## 设置文件路径、tag和数据集

In [2]:
filepath = "/home/jxqi/text2sql/picard/experiment/eval_0504_sparc_add_coref_2432 copy/predictions_eval_None.json"
baseline_filepath = "/home/jxqi/text2sql/picard_train_no_docker/experiment/t5-sparc-0312/predictions_eval_270.2149003147954.json"
dataset = "sparc"
tag_baseline = "baseline"
tag_our_method = "our_method"

## 从json格式的预测结果生成txt格式的结果供下一步进行评估

In [3]:
_, baseline_output_filepath = extract_sql_from_json_predictions(
    baseline_filepath, 
    dataset=dataset, 
    output_dir="default",
    tag = tag_baseline
)
_, output_filepath = extract_sql_from_json_predictions(
    filepath, 
    dataset=dataset, 
    output_dir="default",
    tag = tag_our_method
)

filepath:  ./output/output_sparc_baseline_20220505_104339.txt

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1624/1624 [00:00<00:00, 831082.20it/s]

filepath:  ./output/output_sparc_our_method_20220505_104339.txt

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1624/1624 [00:00<00:00, 544531.91it/s]

## 传入两个模型的预测输出txt，得到预测信息

In [4]:
predicted_file_path = baseline_output_filepath
result_baseline = get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset=dataset,
    etype="match",
    test_suit_path="/home/jxqi/text2sql/error_analysis/test-suite-sql-eval/"
)

Evaluating 1th prediction
Right
easy pred: select * from airlines
easy gold: SELECT * FROM AIRLINES

Right
easy pred: select * from airlines where airline = 'JetBlue Airways'
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Right
easy pred: select country from airlines where airline = 'Jetblue Airways'
easy gold: SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Evaluating 2th prediction
Right
easy pred: select abbreviation from airlines
easy gold: SELECT Abbreviation FROM AIRLINES

Right
easy pred: select abbreviation from airlines where airline = "JetBlue Airways"
easy gold: SELECT Abbreviation FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Evaluating 3th prediction
Right
medium pred: select airline, abbreviation from airlines
medium gold: SELECT Airline ,  Abbreviation FROM AIRLINES

Right
medium pred: select airline, abbreviation from airlines where country = 'USA'
medium gold: SELECT Airline ,  Abbreviation FROM AIRLINES WHERE Country  =  "USA"

Evaluating 4th prediction
Right
easy pred: select * from airports where city = 'Anthony'
easy gold: SELECT * FROM AIRPORTS WHERE city  =  "Anthony"

Right
medium pred: select airportcode, airportname from airports where city = 'Anthony'
medium gold: SELECT AirportCode ,  AirportName FROM AIRPORTS WHERE city  =  "Anthony"

Evaluating 5th prediction
Right
easy pred: select * from airlines
easy gold: SELECT * FROM AIRLINES

Right
easy pred: select count(*) from airlines
easy gold: SELECT count(*) FROM AIRLINES

Evaluating 6th prediction
Right
easy pred: select * from airports
easy gold: SELECT * FROM AIRPORTS

Right
easy pred: select count(*) from airports
easy gold: SELECT count(*) FROM AIRPORTS

Evaluating 7th prediction
Right
easy pred: select * from flights
easy gold: SELECT * FROM FLIGHTS

Right
easy pred: select count(*) from flights
easy gold: SELECT count(*) FROM FLIGHTS

Evaluating 8th prediction
Right
easy pred: select distinct airline from airlines
easy gold: SELECT Airline FROM AIRLINES

Right
easy pred: select airline from airlines where abbreviation = 'UAL'
easy gold: SELECT Airline FROM AIRLINES WHERE Abbreviation  =  "UAL"

Evaluating 9th prediction
Right
easy pred: select airline from airlines where country = 'USA'
easy gold: SELECT airline FROM AIRLINES WHERE Country  =  "USA"

Right
easy pred: select count(*) from airlines where country = 'USA'
easy gold: SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"

Evaluating 10th prediction
Right
medium pred: select city, country from airports
medium gold: SELECT City ,  Country FROM AIRPORTS

Right
medium pred: select city, country from airports where airportname = 'Alton'
medium gold: SELECT City ,  Country FROM AIRPORTS WHERE AirportName  =  "Alton"

Evaluating 11th prediction
Right
easy pred: select airportname from airports
easy gold: SELECT AirportName FROM AIRPORTS

Right
easy pred: select airportname from airports where airportcode = 'AKO'
easy gold: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"

Evaluating 12th prediction
Right
easy pred: select airportname from airports
easy gold: SELECT AirportName FROM AIRPORTS

Right
easy pred: select airportname from airports where city = 'Aberdeen'
easy gold: SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"

Evaluating 13th prediction
Right
easy pred: select * from flights where sourceairport = 'APG'
easy gold: SELECT * FROM FLIGHTS WHERE SourceAirport  =  "APG"

Right
easy pred: select count(*) from flights where sourceairport = 'APG'
easy gold: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"

Evaluating 14th prediction
Wrong
easy pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.airportcode = "ATO"
easy gold: SELECT * FROM FLIGHTS WHERE DestAirport  =  "ATO"

Wrong
easy pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.airportcode where t1.airportcode = "ATO"
easy gold: SELECT count(*) FROM FLIGHTS WHERE DestAirport  =  "ATO"

Evaluating 15th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Right
medium pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 16th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Right
medium pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 17th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Wrong
hard pred: select * from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = 'Aberdeen' and t2.airportname = 'Ashley'
hard gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"

Wrong
hard pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = 'Aberdeen' and t2.airportname = 'Ashley'
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"

Evaluating 18th prediction
Right
medium pred: select * from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "JetBlue Airways"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

Right
medium pred: select count(*) from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "Jetblue Airways"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

Evaluating 19th prediction
Wrong
easy pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline where t1.airline = "United Airlines"
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
easy pred: select count(*) from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = 'United Airlines'
easy gold: SELECT count(*) FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
medium pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.airportcode = "ASY" and t1.airline = "United Airlines"
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"

Evaluating 20th prediction
Wrong
easy pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline where t1.airline = "United Airlines"
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
medium pred: select * from flights where sourceairport = 'AHD' and airline = 'United Airlines'
medium gold: SELECT * FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

Wrong
medium pred: select count(*) from flights where sourceairport = 'AHD' and airline = 'United Airlines'
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

Evaluating 21th prediction
Right
hard pred: select * from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode join airlines as t3 on t1.airline = t3.uid where t2.city = 'Aberdeen' and t3.airline = 'United Airlines'
hard gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

Right
hard pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode join airlines as t3 on t1.airline = t3.uid where t2.city = 'Aberdeen' and t3.airline = 'United Airlines'
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

Evaluating 22th prediction
Wrong
easy pred: select city from airports
easy gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Wrong
hard pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*)
hard gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC

Wrong
extra pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.destairport group by t2.destairport order by count(*) desc limit 1
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

Evaluating 23th prediction
Right
easy pred: select distinct t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
easy gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport

Wrong
hard pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*)
hard gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC

Wrong
extra pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) desc limit 1
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

Evaluating 24th prediction
Right
easy pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Wrong
easy pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t2.flightno = 1 or t2.flightno = 2
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport

Right
extra pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) desc limit 1
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

Evaluating 25th prediction
Right
easy pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Wrong
easy pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t2.flightno = 1 or t2.flightno = 2
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport

Right
extra pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) limit 1
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1

Evaluating 26th prediction
Wrong
medium pred: select count(*), airline from flights group by airline
medium gold: SELECT count(*) ,  T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline

Wrong
extra pred: select airline from flights group by airline order by count(*) desc limit 1
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1

Evaluating 27th prediction
Right
medium pred: select abbreviation, country from airlines
medium gold: SELECT Abbreviation ,  Country FROM AIRLINES

Wrong
hard pred: select t1.abbreviation, t1.country from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.abbreviation order by count(*)
hard gold: SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*)

Wrong
extra pred: select t1.abbreviation, t1.country from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.abbreviation order by count(*) limit 1
extra gold: SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1

Evaluating 28th prediction
Right
easy pred: select * from flights where sourceairport = 'AHD'
easy gold: SELECT * FROM FLIGHTS WHERE SourceAirport  =  "AHD"

Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'AHD'
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"

Evaluating 29th prediction
Right
easy pred: select * from flights where sourceairport = 'AHD'
easy gold: SELECT * FROM FLIGHTS WHERE DestAirport  =  "AHD"

Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'AHD'
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"

Evaluating 30th prediction
Wrong
medium pred: select airline from flights where sourceairport = "APG"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"

Right
extra pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG" intersect select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO"
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

Evaluating 31th prediction
Wrong
medium pred: select airline from flights where sourceairport = "CVO"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

Right
extra pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO" except select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG"
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"

Evaluating 32th prediction
Wrong
easy pred: select * from airlines
easy gold: SELECT DISTINCT Airline FROM AIRLINES

Wrong
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.uid having count(*) > 10
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  >  10

Evaluating 33th prediction
Wrong
easy pred: select * from airlines
easy gold: SELECT DISTINCT Airline FROM AIRLINES

Wrong
medium pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.uid having count(*) < 200
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200

Evaluating 34th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Right
medium pred: select distinct t1.flightno from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "United Airlines"
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"

Evaluating 35th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Right
easy pred: select flightno from flights where sourceairport = "APG"
easy gold: SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"

Evaluating 36th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Wrong
easy pred: select flightno from flights where sourceairport = 'APG' or destairport = 'APG'
easy gold: SELECT FlightNo FROM FLIGHTS WHERE DestAirport  =  "APG"

Evaluating 37th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Wrong
easy pred: select flightno from flights where sourceairport = 'Atlanta'
easy gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode

Right
medium pred: select t1.flightno from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = 'Aberdeen'
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 38th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Wrong
easy pred: select flightno from flights where sourceairport = 'Atlanta'
easy gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode

Wrong
medium pred: select t1.fltno from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = 'Aberdeen'
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 39th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen"

Right
hard pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = 'Aberdeen' or t1.city = 'Abilene'
hard gold: SELECT * FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen" OR T2.city  =  "Abilene"

Right
hard pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen" or t1.city = "Abilene"
hard gold: SELECT count(*) FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen" OR T2.city  =  "Abilene"

Evaluating 40th prediction
Right

In [5]:
predicted_file_path = output_filepath
result_our_method = get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset=dataset,
    etype="match",
    test_suit_path="/home/jxqi/text2sql/error_analysis/test-suite-sql-eval/"
)

Evaluating 1th prediction
Right
easy pred: select * from airlines
easy gold: SELECT * FROM AIRLINES

Right
easy pred: select * from airlines where airline = "Jetblue Airways"
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Right
easy pred: select country from airlines where airline = "Jetblue Airways"
easy gold: SELECT Country FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Evaluating 2th prediction
Right
easy pred: select abbreviation from airlines
easy gold: SELECT Abbreviation FROM AIRLINES

Right
easy pred: select abbreviation from airlines where airline = "Jetblue Airways"
easy gold: SELECT Abbreviation FROM AIRLINES WHERE Airline  =  "JetBlue Airways"

Evaluating 3th prediction
Right
medium pred: select airline, abbreviation from airlines
medium gold: SELECT Airline ,  Abbreviation FROM AIRLINES

Right
medium pred: select airline, abbreviation from airlines where country = "USA"
medium gold: SELECT Airline ,  Abbreviation FROM AIRLINES WHERE Country  =  "USA"

Evaluating 4th prediction
Right
easy pred: select * from airports where city = 'Anthony'
easy gold: SELECT * FROM AIRPORTS WHERE city  =  "Anthony"

Right
medium pred: select airportcode, airportname from airports where city = 'Anthony'
medium gold: SELECT AirportCode ,  AirportName FROM AIRPORTS WHERE city  =  "Anthony"

Evaluating 5th prediction
Right
easy pred: select * from airlines
easy gold: SELECT * FROM AIRLINES

Right
easy pred: select count(*) from airlines
easy gold: SELECT count(*) FROM AIRLINES

Evaluating 6th prediction
Right
easy pred: select * from airports
easy gold: SELECT * FROM AIRPORTS

Right
easy pred: select count(*) from airports
easy gold: SELECT count(*) FROM AIRPORTS

Evaluating 7th prediction
Right
easy pred: select * from flights
easy gold: SELECT * FROM FLIGHTS

Right
easy pred: select count(*) from flights
easy gold: SELECT count(*) FROM FLIGHTS

Evaluating 8th prediction
Right
easy pred: select airline from airlines
easy gold: SELECT Airline FROM AIRLINES

Right
easy pred: select airline from airlines where abbreviation = 'UAL'
easy gold: SELECT Airline FROM AIRLINES WHERE Abbreviation  =  "UAL"

Evaluating 9th prediction
Right
easy pred: select airline from airlines where country = "USA"
easy gold: SELECT airline FROM AIRLINES WHERE Country  =  "USA"

Right
easy pred: select count(*) from airlines where country = 'USA'
easy gold: SELECT count(*) FROM AIRLINES WHERE Country  =  "USA"

Evaluating 10th prediction
Right
medium pred: select city, country from airports
medium gold: SELECT City ,  Country FROM AIRPORTS

Right
medium pred: select city, country from airports where airportname = "Alton"
medium gold: SELECT City ,  Country FROM AIRPORTS WHERE AirportName  =  "Alton"

Evaluating 11th prediction
Right
easy pred: select airportname from airports
easy gold: SELECT AirportName FROM AIRPORTS

Right
easy pred: select airportname from airports where airportcode = 'AKO'
easy gold: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"

Evaluating 12th prediction
Right
easy pred: select airportname from airports
easy gold: SELECT AirportName FROM AIRPORTS

Right
easy pred: select airportname from airports where city = 'Aberdeen'
easy gold: SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"

Evaluating 13th prediction
Right
easy pred: select * from flights where sourceairport = 'APG'
easy gold: SELECT * FROM FLIGHTS WHERE SourceAirport  =  "APG"

Right
easy pred: select count(*) from flights where sourceairport = 'APG'
easy gold: SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"

Evaluating 14th prediction
Wrong
easy pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.airportcode = "ATO"
easy gold: SELECT * FROM FLIGHTS WHERE DestAirport  =  "ATO"

Wrong
easy pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.airportcode = "ATO"
easy gold: SELECT count(*) FROM FLIGHTS WHERE DestAirport  =  "ATO"

Evaluating 15th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Right
medium pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 16th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Right
medium pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.city = "Aberdeen"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 17th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport  =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Wrong
hard pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen" and t1.airportname = "Ashley"
hard gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"

Wrong
hard pred: select count(*) from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen" and t1.airportname = "Ashley"
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"

Evaluating 18th prediction
Wrong
medium pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline where t1.abbreviation = "JetBlue Airways"
medium gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

Wrong
medium pred: select count(*) from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.abbreviation = "JetBlue Airways"
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

Evaluating 19th prediction
Wrong
easy pred: select * from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "United Airlines"
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
easy pred: select count(*) from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "United Airlines"
easy gold: SELECT count(*) FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
medium pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.airportcode = "ASY" and t1.airline = "United Airlines"
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.DestAirport  =  "ASY"

Evaluating 20th prediction
Wrong
easy pred: select * from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "United Airlines"
easy gold: SELECT * FROM AIRLINES WHERE Airline  =  "United Airlines"

Wrong
medium pred: select * from flights where sourceairport = "AHD" and airline = "United Airlines"
medium gold: SELECT * FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

Right
medium pred: select count(*) from airlines as t1 join flights as t2 on t1.uid = t2.airline where t1.airline = "United Airlines" and t2.sourceairport = "AHD"
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

Evaluating 21th prediction
Right
hard pred: select * from flights as t1 join airports as t2 on t1.destairport = t2.airportcode join airlines as t3 on t1.airline = t3.uid where t2.city = 'Aberdeen' and t3.airline = 'United Airlines'
hard gold: SELECT * FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

Right
hard pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode join airlines as t3 on t1.airline = t3.uid where t2.city = 'Aberdeen' and t3.airline = 'United Airlines'
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

Evaluating 22th prediction
Right
easy pred: select city from airports as t1 join flights as t2 on t1.airportcode = t2.destairport
easy gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Wrong
hard pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.destairport group by t1.city order by count(*)
hard gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC

Right
extra pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.destairport group by t1.city order by count(*) desc limit 1
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

Evaluating 23th prediction
Right
easy pred: select city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
easy gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport

Wrong
hard pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*)
hard gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC

Wrong
extra pred: select t1.city from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) desc limit 1
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.SourceAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

Evaluating 24th prediction
Right
easy pred: select airportcode from flights as t1 join airports as t2 on t1.destairport = t2.airportcode
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Right
easy pred: select airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport or t1.airportcode = t2.destairport
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport

Right
extra pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t1.airportcode order by count(*) desc limit 1
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

Evaluating 25th prediction
Right
easy pred: select airportcode from flights as t1 join airports as t2 on t1.destairport = t2.airportcode
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport

Right
easy pred: select airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport or t1.airportcode = t2.destairport
easy gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport

Right
extra pred: select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t1.airportcode order by count(*) limit 1
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1

Evaluating 26th prediction
Right
medium pred: select count(*), t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.airline
medium gold: SELECT count(*) ,  T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline

Wrong
extra pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.uid order by count(*) desc limit 1
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1

Evaluating 27th prediction
Right
medium pred: select abbreviation, country from airlines
medium gold: SELECT Abbreviation ,  Country FROM AIRLINES

Wrong
hard pred: select abbreviation, country from airlines group by abbreviation order by count(*)
hard gold: SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*)

Wrong
extra pred: select abbreviation, country from airlines group by abbreviation order by count(*) limit 1
extra gold: SELECT T1.Abbreviation ,  T1.Country FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1

Evaluating 28th prediction
Right
easy pred: select * from flights where sourceairport = "AHD"
easy gold: SELECT * FROM FLIGHTS WHERE SourceAirport  =  "AHD"

Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "AHD"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "AHD"

Evaluating 29th prediction
Right
easy pred: select * from flights where destairport = 'AHD'
easy gold: SELECT * FROM FLIGHTS WHERE DestAirport  =  "AHD"

Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.destairport = "AHD"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"

Evaluating 30th prediction
Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"

Right
extra pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'APG' intersect select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'CVO'
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG" INTERSECT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

Evaluating 31th prediction
Right
medium pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO"
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO"

Right
extra pred: select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'CVO' except select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'APG'
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "CVO" EXCEPT SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.SourceAirport  =  "APG"

Evaluating 32th prediction
Wrong
easy pred: select * from airlines
easy gold: SELECT DISTINCT Airline FROM AIRLINES

Wrong
medium pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.uid having count(*) > 10
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  >  10

Evaluating 33th prediction
Wrong
easy pred: select * from airlines
easy gold: SELECT DISTINCT Airline FROM AIRLINES

Wrong
medium pred: select * from airlines as t1 join flights as t2 on t1.uid = t2.airline group by t1.uid having count(*) < 200
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200

Evaluating 34th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Right
medium pred: select t1.flightno from flights as t1 join airlines as t2 on t1.airline = t2.uid where t2.airline = "United Airlines"
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"

Evaluating 35th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Right
easy pred: select flightno from flights where sourceairport = "APG"
easy gold: SELECT FlightNo FROM FLIGHTS WHERE SourceAirport  =  "APG"

Evaluating 36th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Right
easy pred: select flightno from flights where destairport = 'APG'
easy gold: SELECT FlightNo FROM FLIGHTS WHERE DestAirport  =  "APG"

Evaluating 37th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Wrong
easy pred: select flightno from flights where destairport = 'A'
easy gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode

Right
medium pred: select t1.flightno from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = "Aberdeen"
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 38th prediction
Right
easy pred: select flightno from flights
easy gold: SELECT FlightNo FROM FLIGHTS

Wrong
easy pred: select flightno from flights where destairport = 'Atlanta'
easy gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode

Right
medium pred: select t1.flightno from flights as t1 join airports as t2 on t1.destairport = t2.airportcode where t2.city = 'Aberdeen'
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

Evaluating 39th prediction
Right
medium pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.destairport where t1.city = "Aberdeen"
medium gold: SELECT * FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen"

Right
hard pred: select * from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t1.city = "Aberdeen" or t1.city = "Abilene"
hard gold: SELECT * FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen" OR T2.city  =  "Abilene"

Right
hard pred: select count(*) from flights as t1 join airports as t2 on t1.sourceairport = t2.airportcode where t2.city = 'Aberdeen' or t2.city = 'Abilene'

## 然后进行比较和分析

In [6]:
result_baseline_l = result_baseline.split("\n")
result_our_method_l = result_our_method.split("\n")

In [7]:
result_dict = result_compare(baseline_text_l=result_baseline_l, text_l=result_our_method_l)

In [8]:
for k,v in result_dict.items():
    print(k, len(v))

both_right_l 157
both_wrong_l 207
baseline_right_l 16
right_l 42

In [9]:
analysis_compare(result_dict)

================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  What is the airport code of the airport with the most flights?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What are airport codes of any airport with a arriving flight?
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
Our method predition:  select airportcode from flights as t1 join airports as t2 on t1.destairport = t2.airportcode

Question # 1 :  Also include codes of airports with departure flights.
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t2.flightno = 1 or t2.flightno = 2
Our method predition:  select airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport or t1.airportcode = t2.destairport
^^^^^^^^^^^^^^^^^^^^^^^

Question # 2 :  Which one has the highest number of flights?
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) desc limit 1
Our method predition:  select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t1.airportcode order by count(*) desc limit 1


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Give the code of the airport with the least flights.
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What are airport codes of any airport with a arriving flight?
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport
Our method predition:  select airportcode from flights as t1 join airports as t2 on t1.destairport = t2.airportcode

Question # 1 :  Also include codes of airports with departure flights.
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport where t2.flightno = 1 or t2.flightno = 2
Our method predition:  select airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport or t1.airportcode = t2.destairport
^^^^^^^^^^^^^^^^^^^^^^^

Question # 2 :  Which one has the least number of flights?
Baseline predition:    select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t2.sourceairport order by count(*) limit 1
Our method predition:  select t1.airportcode from airports as t1 join flights as t2 on t1.airportcode = t2.sourceairport group by t1.airportcode order by count(*) limit 1


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Which airlines have departing flights from both APG and CVO airports?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  Which airlines have flights departing from APG?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select airline from flights where sourceairport = "APG"
Our method predition:  select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG"
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Of those, which also have flights from CVO?
Baseline predition:    select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG" intersect select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO"
Our method predition:  select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'APG' intersect select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'CVO'


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Which airlines have departures from CVO but not from APG airports?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  Which airlines have flights from CVO?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select airline from flights where sourceairport = "CVO"
Our method predition:  select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO"
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Of these, which do not have flights from APG?
Baseline predition:    select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "CVO" except select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = "APG"
Our method predition:  select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'CVO' except select t1.airline from airlines as t1 join flights as t2 on t1.uid = t2.airline where t2.sourceairport = 'APG'


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Give the flight numbers of flights landing at APG.
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What are all the flight numbers?
Baseline predition:    select flightno from flights
Our method predition:  select flightno from flights

Question # 1 :  Also, which numbers are for flights that land in APG?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select flightno from flights where sourceairport = 'APG' or destairport = 'APG'
Our method predition:  select flightno from flights where destairport = 'APG'
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  What type of pet is the youngest animal, and how much does it weigh?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  Who is the youngest pet?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select pet_name from pets order by pet_age asc limit 1
Our method predition:  select * from pets order by pet_age asc limit 1
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  What type are they?
Baseline predition:    select pettype from pets order by pet_age asc limit 1
Our method predition:  select pettype from pets order by pet_age asc limit 1

Question # 2 :  Also, how much do they weigh?
Baseline predition:    select pettype, weight from pets order by pet_age asc limit 1
Our method predition:  select pettype, weight from pets order by pet_age asc limit 1


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  What is the continent name which Anguilla belongs to?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What continent does each country belong to?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select name, continent from country
Our method predition:  select continent from country
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Which one does Anguila belong to?
Baseline predition:    select continent from country where name = "Anguilla"
Our method predition:  select continent from country where name = "Anguilla"


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  How many languages are spoken in Aruba?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What is the information about the country Aruba?
Baseline predition:    select * from country where name = "Aruba"
Our method predition:  select * from country where name = "Aruba"

Question # 1 :  What are the languages used in Aruba?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select t1.language from countrylanguage as t1 join country as t2 on t1.countrycode = t2.countrycode where t2.name = "Aruba"
Our method predition:  select t2.language from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t1.name = "Aruba"
^^^^^^^^^^^^^^^^^^^^^^^

Question # 2 :  How many are there?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select count(distinct t1.language) from countrylanguage as t1 join country as t2 on t1.countrycode = t2.countrycode where t2.name = "Aruba"
Our method predition:  select count(distinct language) from countrylanguage as t1 join country as t2 on t1.countrycode = t2.code where t2.name = "Aruba"
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Which continent speaks the most languages?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  How many languages are spoken on each continent?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select count(*), continent from countrylanguage group by continent
Our method predition:  select count(*), t1.continent from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode group by t1.continent
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Which one speaks the most languages?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select continent from countrylanguage group by continent order by count(*) desc limit 1
Our method predition:  select t1.continent from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode group by t1.continent order by count(*) desc limit 1
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  How many continents speak Chinese?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  In which countries is Chinese spoken?
Baseline predition:    select t1.name from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = 'Chinese'
Our method predition:  select t1.name from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = "Chinese"

Question # 1 :  Which distinct continents are they in?
Baseline predition:    select distinct t1.continent from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = "Chinese"
Our method predition:  select distinct t1.continent from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = "Chinese"

Question # 2 :  How many of them are there?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select count(distinct continent) from countrylanguage where language = 'Chinese'
Our method predition:  select count(distinct t1.continent) from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = "Chinese"
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  Which regions speak Dutch or English?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What are all the different regions?
Baseline predition:    select distinct region from country
Our method predition:  select distinct region from country

Question # 1 :  Which of those speak Dutch or English?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select distinct region from countrylanguage as t1 join country as t2 on t1.countrycode = t2.countrycode where t1.language = "Dutch" or t1.language = "English"
Our method predition:  select distinct t1.region from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t2.language = "Dutch" or t2.language = "English"
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  What is the language that is used by the largest number of Asian nations?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  What are all the different languages used in the continent of Asia?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select distinct language from country where continent = 'Asia'
Our method predition:  select distinct t1.language from countrylanguage as t1 join country as t2 on t1.countrycode = t2.code where t2.continent = "Asia"
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Which one is used by the largest number of Asian countries?
Baseline predition:    select t2.language from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t1.continent = 'Asia' group by t2.language order by count(*) desc limit 1
Our method predition:  select t2.language from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t1.continent = 'Asia' group by t2.language order by count(*) desc limit 1


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  What languages are only used by a single country with a republic government?
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  Which countries have republics as their form of government?
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select name from country where governmentform = "Republic"
Our method predition:  select * from country where governmentform = "Republic"
^^^^^^^^^^^^^^^^^^^^^^^

Question # 1 :  Which language is spoken by only one of those countries?
Baseline predition:    select t2.language from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t1.governmentform = "Republic" group by t2.language having count(*) = 1
Our method predition:  select t2.language from country as t1 join countrylanguage as t2 on t1.code = t2.countrycode where t1.governmentform = "Republic" group by t2.language having count(*) = 1


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  List the title of all Cartoons showed on TV Channel with series name "Sky Radio".
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  tell me the country of the TV Channel for the series named "Sky Radio".
Baseline predition:    select country from tv_channel where series_name = "Sky Radio"
Our method predition:  select country from tv_channel where series_name = "Sky Radio"

Question # 1 :  How about its content?
Baseline predition:    select content from tv_channel where series_name = "Sky Radio"
Our method predition:  select content from tv_channel where series_name = "Sky Radio"

Question # 2 :  I want to know the title of all Cartoons showed on TV Channel with series name "Sky Radio".
^^^^^^^^^^^^^^^^^^^^^^^
^^^^^Please note: ^^^^^
Baseline predition:    select t1.title from cartoon as t1 join tv_series as t2 on t1.id = t2.channel where t2.series_name = "Sky Radio"
Our method predition:  select t1.title from cartoon as t1 join tv_channel as t2 on t1.channel = t2.id where t2.series_name = "Sky Radio"
^^^^^^^^^^^^^^^^^^^^^^^


================================================================================================================================================
================================================================================================================================================
Interaction context:
Goal:  List the name and date of the battle that has lost the ship named 'Lettice' and the ship named 'HMS Atalanta'
------------------------------------------------------------------------------------------------------------------------------------------------
Question # 0 :  List the name and date of the battle that has lost the ship named 'Lettice'

# 测试SParC的2112

In [ ]:
filepath = "/home/jxqi/text2sql/picard_train_no_docker/experiment/t5-sparc-0312/predictions_eval_234.64470094438616.json"
extract_sql_from_json_predictions(
    filepath, 
    dataset="sparc", 
    output_dir="default",
    tag = "ckpt_2112_sparc_no_picard"
)

In [ ]:
predicted_file_path = "./output/output_sparc_ckpt_2112_sparc_no_picard_20220430_222747.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="sparc",
    etype="match"
)

# 测试SParC的2432

In [ ]:
filepath = "/home/jxqi/text2sql/picard_train_no_docker/experiment/t5-sparc-0312/predictions_eval_270.2149003147954.json"
extract_sql_from_json_predictions(
    filepath, 
    dataset="sparc", 
    output_dir="default",
    tag = "ckpt_2112_sparc_no_picard"
)

In [ ]:
predicted_file_path = "./output/output_sparc_ckpt_2112_sparc_no_picard_20220430_223322.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="sparc",
    etype="exec"
)

In [ ]:
filepath = "/home/jxqi/text2sql/picard/experiment/t5-cosql-0408-add-coref/predictions_eval_159.99272903538537.json"
extract_sql_from_json_predictions(
    filepath, 
    dataset="cosql", 
    output_dir="default",
    tag = "ckpt_1280_cosql_no_picard"
)

In [ ]:
predicted_file_path = "./output/output_cosql_ckpt_1280_cosql_no_picard_20220430_232746.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="cosql",
    etype="match"
)

In [ ]:
predicted_file_path = "./output/output_cosql_ckpt_1280_cosql_no_picard_20220430_232746.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="cosql",
    etype="exec"
)

# 测试

In [ ]:
predicted_file_path = "/home/jxqi/Text-to-SQL/t5/experiment/t5-large_9_26_1_6/epoch_2_predictions.txt"
cmd = 'python /home/jxqi/Text-to-SQL/t5/evaluate/test-suite-sql-eval-master/evaluation.py --gold /home/jxqi/Text-to-SQL/t5/dataset/spider/dev_gold.sql --pred {0} --etype match --db /home/jxqi/Text-to-SQL/t5/dataset/spider/database/ --table /home/jxqi/Text-to-SQL/t5/dataset/spider/tables.json'.format(predicted_file_path)
result = os.popen(cmd).read()

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_ckpt_2624_beam_32_ex_8036_20220422_161808.txt", etype="match")

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_picard_output.txt", etype="match")

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_picard2.txt", etype="match")

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_picard_output.txt", etype="exec")

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_ckpt_2624_beam_32_ex_8036_20220422_161808.txt", etype="exec")

In [ ]:
get_eval_result_from_txt_file("./output/output_spider_picard2.txt", etype="exec")

# 测试SParC 2432 add_coref

In [ ]:
filepath = "/home/jxqi/text2sql/picard/experiment/eval_0504_sparc_add_coref_2432 copy/predictions_eval_None.json"
extract_sql_from_json_predictions(
    filepath, 
    dataset="sparc", 
    output_dir="default",
    tag = "ckpt_2432_sparc_use_picard"
)

In [ ]:
predicted_file_path = "./output/output_sparc_ckpt_2432_sparc_use_picard_20220504_152431.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="sparc",
    etype="match",
    test_suit_path="/home/jxqi/text2sql/error_analysis/test-suite-sql-eval/"
)

In [ ]:
predicted_file_path = "./output/output_sparc_ckpt_2432_sparc_use_picard_20220504_114246.txt"
get_eval_result_from_txt_file(
    predicted_file_path, 
    dataset="sparc",
    etype="exec"
)

# 读取dev.json做上下文对话的分析

In [ ]:
import json

In [ ]:
dev = json.load(open("/home/jxqi/text2sql/error_analysis/data/sparc/dev.json", "r"))

In [ ]:
def get_all_context_from_dev(dev_filepath="/home/jxqi/text2sql/error_analysis/data/sparc/dev.json"):
    '''
    Args:
        dev_filepath: dev.json文件的路径
        
    Returns:
        dev_context_l: 存放每一个interaction的context的列表，其中每个元素为一个字典，包括"goal"为交互目标，"interactions"为对话上下文
    '''
    dev = json.load(open(dev_filepath, "r"))
    dev_context_l = []
    for item in dev:
        final = item["final"]["utterance"]
        interactions = [i["utterance"] for i in item["interaction"]] 
        context = {
            "goal": goal,
            "interactions": interactions
        }
        dev_context_l.append(context)
        
    return dev_context_l

In [ ]:
dev_context_l = get_all_context_from_dev()

In [ ]:
dev_context_l